<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta name="description" content="Smarthr - Bootstrap Admin Template" />
    <meta
            name="keywords"
            content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,
      accounts, invoice, html5, responsive, CRM, Projects"
    />
    <meta name="author" content="Dreamguys - Bootstrap Admin Template" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Dashboard - HRMS admin template</title>
    <!-- Favicon -->
    <link
            rel="shortcut icon"
            type="image/x-icon"
            th:href="@{favicons/img-favicon.png}"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{css/css-bootstrap.min.css}" />
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{css/css-font-awesome.min.css}" />
    <!-- Lineawesome CSS -->
    <link rel="stylesheet" th:href="@{css/css-line-awesome.min.css}" />
    <!-- Chart CSS -->
    <link rel="stylesheet" th:href="@{css/morris-morris.css}" />
    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{css/css-style.css}" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body class="account-page">
<div class="row">

</div>
<!-- Main Wrapper -->
<div class="main-wrapper">
    <div class="account-content">
        <div class="container">
            <div class="account-logo">
                <a href="/"><img th:src="@{/images/img-logo2.png}" alt="Dreamguy's Technologies"></a>
                <div class="alert mt-5 alert-danger" th:if="${validUser}">Invalid Sign in details</div>
            </div>
            <div class="account-box">
                <div class="account-wrapper">
                    <h3 class="account-title">Login</h3>
                    <form class="form1" action="#" th:action="@{/dashboard}" th:object = "${user}" method="post">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input class="form-control" th:field ="*{email}" type="text" align="center" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" th:field ="*{password}" type="password" align="center" placeholder="Password">
                        </div>
                        <div class="form-group text-center">
                            <input class="btn btn-primary account-btn" type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{js/js-jquery-3.5.1.min.js}"></script>
<!-- Bootstrap Core JS -->
<script th:src="@{js/js-popper.min.js}"></script>
<script th:src="@{js/js-bootstrap.min.js}"></script>
<!-- Slimscroll JS -->
<script th:src="@{/js-jquery.slimscroll.min.js}"></script>
<!-- Chart JS -->
<script th:src="@{js/morris-morris.min.js}"></script>
<script th:src="@{js/raphael-raphael.min.js}"></script>
<script th:src="@{js/js-chart.js}"></script>
<!-- Custom JS -->
<script th:src="@{js/js-app.js}"></script>

</body>
</html>